@use "./tokens" as tokens;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  color: tokens.$color-on-bg;
  background-color: tokens.$color-bg;
  font-family: tokens.$font-family-inter;
  font-size: tokens.$font-size-body-medium;
  font-weight: tokens.$font-weight-regular;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}
